*{
	margin: 0;
	padding: 0;
	user-select:none !important;
}
body{
	height:100%;
	width:100vw;
	background-color:#F7F7F7;
	overflow-x:hidden;
}
a, i{
	text-decoration: none !important;
	user-select:none !important;
}
header img{
	height:150px;
	box-shadow: 1px 1px 7px solid gray;
}
header{
	text-align: center;
	font-size: 18px;
	color: black;
	width:100vw;
	padding: 8vh 0;
	background-color:white;
	cursor:pointer;
}
header h1{
	font-size: 36px;
}

nav{
	width: max-content;
	background-color:white;
}
nav ul{
	list-style-type: none;
	width:100vw;
	padding: 13px 0;
}
nav ul li{
	display: inline;
}
nav ul li a{
	text-decoration: none;
	font-weight: 400;
    font-variant-ligatures: no-contextual;
    font-size: 18px;
	padding: 10px 10px;
	color: #171717;
	width: 100%;
	height: 100%;
	font-family: Noto Sans;
}
nav ul li a:hover, .seleccionado a{
	background-color: #F7F7F7;
	font-weight: 600;
	color:black;
}

table td{
	padding: 20px;
	font-family:verdana;
	cursor:pointer;
	text-align:center !important;
}
.module_table{
	width:100%;
}
article{
	margin-top:40px !important;
	margin: 0 auto;
	width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
	background: white;
	padding: 20px;
	box-shadow: 1px 1px 7px gray;
	border-radius: 5px;
	display: inline-block;
}
section, #module-container{
	width: 97%;
	margin:0 auto;
	text-align:center;
}

input[type=submit], input[type=button]{
	width: 100%;
	background: none	;
	padding: 10px 0;
	border-color: black !important;
	background-color:#EDEFEF !important;
}
input, select{
	border:.5px solid black;
	background-color: #EDEFEF;
	padding: 3px 0;
}
select {
	width: 100%;
}
input:valid{
	border: 1px solid green;
	background-color: #F2FEF2;	
}

.column {
  float: left;
  width: 17%;
  margin: 1%;
}
@media (max-width: 1200px){
	.column{
		width:30% !important;
	}
	article{
		width:100vw !important;
		overflow-x:scroll !important;
	}
}
@media (max-width: 800px){
	.column{
		width:47% !important;
	}
}
@media (max-width: 550px){
	ul li{
		display:block !important;
		width: 100vw !important;
	}
	ul li a{
		width:100vw !important;
	}
	.column{
		width:100vw !important;
		border-bottom: .5px solid lightgray;
		background-color: white;
	}
	.column_content{
		box-shadow: none !important;
	}
}

.content:after {
  content: "";
  display: table;
  <!--clear: both;-->
}

@font-face{
	src:url('../fonts/matricula.otf');
	font-family: matricula;
}
.matricula{
	position:relative;
	margin:5px auto;
	padding: 3px 7px 3px 25px;
	border:3px solid black;
	border-radius: 13px;
	font-family: matricula;
	font-size:24px;
	width: max-content;
	letter-spacing:2px;
}
.matricula:before{
	content:'';
	background: url('../img/e.jpg');
	background-size: 100% 100%; 
	height: 100%;
	width: 25px;
	position: absolute;
	border-radius: 10px 0 0 10px;
	left: -2px;
	z-index:-1;
	top: 0;
}
.column{
	cursor:pointer;
	width:17%;
}
.column_content:hover{
	box-shadow:.5px .5px 7px gray;
}
.column_content{
	box-shadow: .5px .5px 7px #D6D6D6;
	margin: 0 auto;
  	border-radius: 5px;
	text-align: center;
	padding: 20px;
  	border-radius: 5px;
  	background-color:white !important;
}
.column_content table td, .column_content table th{
	padding: 5px;
	text-align:left;
	font-family: 'Raleway', extralight;
}
.column_content img{
	margin: 15px 0;
	height:50px;
	user-select:none;
}
.lista img{
	height:40px;
	user-select:none;
}
.tipo{
	margin: 20px auto;
	text-align:center;
}
.tipo i, .lista i{
	text-align:center !important;
	color:black !important;
	text-decoration:none;
	margin: 0 40px;
}
.color{
	width:50px;
	height:15px; 
	border:.5px solid black;
	border-radius:6px;;
}
.colorOptions, .colorPicker{
	display:none;
}
.colorPicker{
	position:absolute;
	right:20px;
	width: 200px;
	background-color:white;
	box-shadow:1px 1px 7px gray;
	padding: 15px 10px;
}
.colorPicker input{
	width:100%;
	margin: 5px 0;
	border:.5px solid black !important;
}
.colorPicker input:valid{
	background: none;
}
